NIDS_APP_NAME="Neuro-Symbolic NIDS"
NIDS_APP_VERSION=1.0.0
NIDS_ENVIRONMENT=production
NIDS_HOST=0.0.0.0
NIDS_PORT=5000
NIDS_LOG_LEVEL=INFO
NIDS_MAX_UPLOAD_MB=16
NIDS_ALLOWED_UPLOAD_EXTENSIONS=.pcap,.pcapng,.csv
NIDS_RATE_LIMIT_DEFAULT="120 per minute"
NIDS_RATE_LIMIT_RUN_ALL="10 per minute"
